.banner-card {
    width: 100vw;
    margin-top: 1vh;
    margin-bottom: 3vh;
    height: 70vh;
    color: white;
    position: relative;
}

.banner-img {
    width: 100vw;
    height: 70vh;
}

.banner-title {
    position: absolute;
    top: 45vh;
    left: 2vw;
}

.banner-text {
    position: absolute;
    top: 52vh;
    left: 2vw;
    height: 4.5rem;
    margin-right: 5vw;
    overflow: hidden;
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movies-card {
    height: 40vh;
    width: 20vw;
    position: relative;
    margin: 1rem;
}

.movies-title {
    color: white;
    position: absolute;
    top: 2vh;
    font-size: 1.5rem;
}

.movies-btn {
    position: absolute;
    bottom: 2rem;
}

.movies-img {
    height: 40vh;
}

.favourite-genres {
    padding: 3rem;
    padding-top: 0;
}

.table-row-image {
    height: 5rem;
}

.main-favourite-cont {
    margin-top: 4rem;
}

/* Media queries */
@media screen and (max-width: 400px) {
    .banner-card {
        height: 30vh;
        background-color: lightpink;
    }

    .banner-img {
        height: 30vh;
    }

    .banner-title {
        top: 9vh;
    }

    .banner-text {
        top: 14vh;
    }

    .movies-card {
        width: 40vw;
        height: 20vh;
        margin: 0.3rem;
    }

    .movies-title {
        font-size: 0.9rem;
    }



    .movies-btn {
        font-size: 0.7rem;
        width: 80%;
    }

}